@import "tailwindcss";

body {
  @apply bg-gradient-to-tr from-white via-pink-100 to-yellow-100 text-gray-900 font-sans;
  margin: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
